---
import PageLayout from "../layouts/PageLayout.astro";
import ExpertisesHeroSection from "../components/sections/expertises/ExpertisesHeroSection.astro";
import ExpertisesFishingSection from "../components/sections/expertises/ExpertisesFishingSection.astro";
import ExpertisesTransformationSection from "../components/sections/expertises/ExpertisesTransformationSection.astro";
import ExpertisesQualitySection from "../components/sections/expertises/ExpertisesQualitySection.astro";
import ExpertisesDistributionSection from "../components/sections/expertises/ExpertisesDistributionSection.astro";
import ExpertisesBrandsSection from "../components/sections/expertises/ExpertisesBrandsSection.astro";
import ExpertisesSupportSection from "../components/sections/expertises/ExpertisesSupportSection.astro";
import ExpertisesRhSection from "../components/sections/expertises/ExpertisesRhSection.astro";
import { expertisesFishingBackground } from "../data/expertises";
import { Image } from "astro:assets";
---

<PageLayout
  title="Nos Expertises - Reunimer"
  description="Découvrez les expertises du groupe Reunimer : pêche, transformation, distribution, logistique et ressources humaines."
>
  <ExpertisesHeroSection />
  <div class="relative">
    <Image
      src={expertisesFishingBackground}
      alt="Banc de thons sous la surface"
      class="absolute inset-x-0 -top-[10%] h-[110%] w-full object-cover"
      widths={[768, 1024, 1440, 1920]}
      sizes="100vw"
    />

    <ExpertisesFishingSection />
  </div>
  <ExpertisesTransformationSection />
  <ExpertisesQualitySection />
  <ExpertisesDistributionSection />
  <ExpertisesBrandsSection />
  <ExpertisesSupportSection />
  <ExpertisesRhSection />
</PageLayout>
