---
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout
  title="Nos Expertises — Reunimer"
  description="Découvrez les expertises du groupe Reunimer : pêche, production, distribution, supports et ressources humaines."
>
  <p class="px-2 bg-amber-400 py-10">Hello world</p>
</PageLayout>
