---
import heroVideo from '../../../assets/images/home/hero.mp4';
import wordmark from '../../../assets/logos/reunimer-wordmark.svg';
---

<section class="relative -mt-[92px] h-screen overflow-hidden" data-parallax data-parallax-speed="0.15">
  <video
    src={heroVideo}
    autoplay
    loop
    muted
    playsinline
    class="absolute inset-0 h-full w-full object-cover"
  ></video>
  <div class="absolute inset-0 z-10 flex items-center justify-center" data-hero-wordmark>
    <img
      src={wordmark.src}
      alt="REUNIMER"
      class="h-auto w-[300px] md:w-[420px] lg:w-[540px]"
    />
  </div>
</section>
