---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Footer from '../components/sections/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  overlayNavbar?: boolean;
}

const { title, description, ogImage, overlayNavbar = false } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <Navbar overlay={overlayNavbar} />

  <main>
    <slot />
  </main>

  <Footer />
</BaseLayout>
