---
import BaseLayout from './BaseLayout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Footer from '../components/sections/Footer.astro';
import type { PageProps } from '../types';

type Props = PageProps;

const { title, description, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage}>
  <Navbar />

  <main>
    <slot />
  </main>

  <Footer />
</BaseLayout>

<script>
  import { initGlobalAnimations } from '../scripts/globalAnimations.js';

  initGlobalAnimations();
  document.addEventListener('astro:after-swap', initGlobalAnimations);
</script>
